<div id="contact" class="moon d-flex justify-content-center">
    <div class="container d-flex align-items-center text-center">
        <footer>
            <h2>Contacto</h2>
            <p>{{myContact}}</p>
            <div class="linkcontainer">
                <a target="_blank" href="https://www.instagram.com/jeremias_ep/">
                    <img src="../../../assets/images/Instagram_logo_2016.jpeg" alt="">
                </a>
                <a target="_blank" href="https://github.com/TheJikol">
                    <img src="../../../assets/images/github.png" alt="">
                </a>
            </div>
            <div class="copyrightcontainer">
                <p class="copyright">© 2023 Jeremías Paletta</p>
                <p class="copyright">Todos los derechos reservados</p>
            </div>
        </footer>
    </div>
</div>