<div class="stars1"></div>
<div class="stars2"></div>
<div class="stars3"></div>
<div class="container">
    <h1>Biografía</h1>
    <div class="buttoncontainer">
        <button data-bs-toggle="modal" class="binteract" data-bs-target="#biographyModal">Editar</button>
    </div>
</div>

<app-biographymodal></app-biographymodal>

<div class="container">
    <h1>Experiencia</h1>
    <div class="buttoncontainer">
        <button data-bs-toggle="modal" class="binteract" data-bs-target="#experienceCreateModal">Crear</button>
        <button data-bs-toggle="modal" class="binteract" data-bs-target="#experienceEditModal">Editar</button>
        <button data-bs-toggle="modal" class="binteract" data-bs-target="#experienceDeleteModal">Eliminar</button>
    </div>
</div>

<app-expmodal></app-expmodal>

<div class="container">
    <h1>Educacion</h1>
    <div class="buttoncontainer">
        <button data-bs-toggle="modal" class="binteract" data-bs-target="#educationCreateModal">Crear</button>
        <button data-bs-toggle="modal" class="binteract" data-bs-target="#educationEditModal">Editar</button>
        <button data-bs-toggle="modal" class="binteract" data-bs-target="#educationDeleteModal">Eliminar</button>
    </div>
</div>

<app-edumodal></app-edumodal>

<div class="container">
    <h1>Projectos</h1>
    <div class="buttoncontainer">
        <button data-bs-toggle="modal" class="binteract" data-bs-target="#projectCreateModal">Crear</button>
        <button data-bs-toggle="modal" class="binteract" data-bs-target="#projectEditModal">Editar</button>
        <button data-bs-toggle="modal" class="binteract" data-bs-target="#projectDeleteModal">Eliminar</button>
    </div>
</div>

<app-promodal></app-promodal>

<div class="container">
    <h1>Skills</h1>
    <div class="buttoncontainer">
        <button data-bs-toggle="modal" class="binteract" data-bs-target="#skillCreateModal">Crear</button>
        <button data-bs-toggle="modal" class="binteract" data-bs-target="#skillEditModal">Editar</button>
        <button data-bs-toggle="modal" class="binteract" data-bs-target="#skillDeleteModal">Eliminar</button>
    </div>
</div>

<app-skimodal></app-skimodal>

<div class="container">
    <h1>Contacto</h1>
    <div class="buttoncontainer">
        <button data-bs-toggle="modal" class="binteract" data-bs-target="#contactModal">Editar</button>
    </div>
</div>

<app-conmodal></app-conmodal>

<div class="buttoncontainer">
    <a href="inicio" class="binteract">Volver</a>
</div>