*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
}

.navbar-toggler{
    background-color: white;
    padding: 6px;
    margin-right: 53px;
}

.navbar-brand{
    margin-left: 30px;
}

.navbar{
    background-color: transparent;
    padding: 0;
    min-height: 120px;
}

.navbar-collapse{
    z-index: 2;
}

.APLogo{
    margin: 0;
    width: 150px;
}

.nav-item{
    margin: 0 20px;
}

.nav-link{
    position: relative;
    color: white !important;
    font-size: 25px;
    transition: 1s;
}

.nav-link:hover{
    letter-spacing: 5px;

}

.nav-item:nth-child(-n+6) .nav-link:hover{
    color: rgba(33,83,196,1)!important;
}

.nav-link::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 0.175rem;
    left: 0;
    bottom: 0;
    background-color: white;
    transform: scale(0, 1);
    transition: transform 0.3s ease;
}

.nav-link:hover::after {
    transform: scale(1, 1);
}

.nav-item:nth-child(7) .nav-link:hover{
    color: rgb(0, 206, 0)!important;
}

.navbar-nav:last-child{
    margin-right: 20px;
}

@media (max-width: 1200px){
    .nav-item{
        margin: 0 10px;
    }
}

@media (max-width: 991px){
    .navbar-nav{
        width: 100%;
    }
}