<div class="modal fade" id="educationCreateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="EducationCreateModalLabel">Crear Educacion</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form">
                    <label class="form-label">Contenido</label> <br>
                    <input value="hola" #content type="text" formControlName="content" [ngClass]="{'is-invalid': Content?.errors && Content?.touched, 'is-valid': !Content?.errors &&
                    Content?.touched}" class="form-control" id="content">
                    <div *ngIf="Content?.errors && Content?.touched">
                        <p *ngIf="Content?.hasError('required')" class="text-danger">
                            El contenido es requerido
                        </p>
                    </div>
                    <label class="form-label">URL Imagen</label> <br>
                    <input #image type="text" formControlName="image" [ngClass]="{'is-invalid': Image?.errors && Image?.touched, 'is-valid': !Image?.errors &&
                    Image?.touched}" class="form-control" id="image">
                    <div *ngIf="Image?.errors && Image?.touched">
                        <p *ngIf="Image?.hasError('required')" class="text-danger">
                            La URL es requerida
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary"
                            (click)="createEducation(content.value, image.value)">Guardar cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="educationDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="educationDeleteModalLabel">Eliminar Educacion</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div *ngFor="let education of educations" class="imageContainer">
                    <div class="row">
                        <div class="col-6">
                            <img src="{{education.image}}" alt="">
                        </div>
                        <div class="col-6">
                            <button (click)="deleteEducation(education.id)" data-bs-dismiss="modal"
                                class="delete">ELiminar</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="educationEditModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="educationEditModalLabel">Editar Educacion</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div *ngFor="let education of educations" class="imageContainer">
                    <div class="row">
                        <div class="col-6">
                            <img src="{{education.image}}" alt="">
                        </div>
                        <div class="col-6">
                            <button data-bs-target="#editEduElementModal" data-bs-toggle="modal"
                                class="delete" (click)="saveIdEdu(education.id, education)">Editar</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editEduElementModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="educationEditModalLabel">Editar Educacion</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form">
                    <label class="form-label">Contenido</label> <br>
                    <input #contentTwo type="text" value="{{educationToEdit.content}}" [ngClass]="{'is-invalid': Content?.errors && Content?.touched, 'is-valid': !Content?.errors &&
                    Content?.touched}" class="form-control" id="content">
                    <div *ngIf="Content?.errors && Content?.touched">
                        <p *ngIf="Content?.hasError('required')" class="text-danger">
                            El contenido es requerido
                        </p>
                    </div>
                    <label class="form-label">URL Imagen</label> <br>
                    <input #imageTwo type="text" value="{{educationToEdit.image}}" [ngClass]="{'is-invalid': Image?.errors && Image?.touched, 'is-valid': !Image?.errors &&
                    Image?.touched}" class="form-control" id="image">
                    <div *ngIf="Image?.errors && Image?.touched">
                        <p *ngIf="Image?.hasError('required')" class="text-danger">
                            La URL es requerida
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary"
                            (click)="editEducation(contentTwo.value, imageTwo.value)">Guardar cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
