<div id="contact" class="moon d-flex justify-content-center">
    <div class="container d-flex align-items-center text-center">
        <footer>
            <h2>Contact</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, numquam quasi est porro error possimus
                exercitationem quod temporibus voluptates culpa odit nesciunt, laboriosam explicabo facilis illo. Iure
                maiores
                pariatur ratione!</p>
        </footer>
    </div>
</div>