<section>
    <div class="containerbackground d-flex justify-content-center">
        <div class="container text-center">
            <h2 id="projects">Proyectos</h2>
            <div class="container">
                <div *ngFor="let project of projects" class="row d-flex align-items-center experienciecontainer" data-aos="fade-up">
                    <div class="col-lg-4">
                        <img class="experiencieimage" src="{{project.image}}" alt="">
                    </div>
                    <div class="col-lg-8">
                        <p>
                            {{project.content}}
                        </p>
                        <a class="linkbutton" target="_blank" href="{{project.link}}">LINK</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>