<div class="modal fade" id="experienceCreateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="experienceCreateModalLabel">Crear Experiencia</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form">
                    <label class="form-label">Contenido</label> <br>
                    <input value="hola" #content type="text" formControlName="content" [ngClass]="{'is-invalid': Content?.errors && Content?.touched, 'is-valid': !Content?.errors &&
                    Content?.touched}" class="form-control" id="content">
                    <div *ngIf="Content?.errors && Content?.touched">
                        <p *ngIf="Content?.hasError('required')" class="text-danger">
                            El contenido es requerido
                        </p>
                    </div>
                    <label class="form-label">URL Imagen</label> <br>
                    <input #image type="text" formControlName="image" [ngClass]="{'is-invalid': Image?.errors && Image?.touched, 'is-valid': !Image?.errors &&
                    Image?.touched}" class="form-control" id="image">
                    <div *ngIf="Image?.errors && Image?.touched">
                        <p *ngIf="Image?.hasError('required')" class="text-danger">
                            La URL es requerida
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary"
                            (click)="createExperience(content.value, image.value)">Guardar cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="experienceDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="experienceDeleteModalLabel">Eliminar Experiencia</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div *ngFor="let experience of experiences" class="imageContainer">
                    <div class="row">
                        <div class="col-6">
                            <img src="{{experience.image}}" alt="">
                        </div>
                        <div class="col-6">
                            <button (click)="deleteExperience(experience.id)" data-bs-dismiss="modal"
                                class="delete">ELiminar</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="experienceEditModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="experienceEditModalLabel">Editar Experiencia</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div *ngFor="let experience of experiences" class="imageContainer">
                    <div class="row">
                        <div class="col-6">
                            <img src="{{experience.image}}" alt="">
                        </div>
                        <div class="col-6">
                            <button data-bs-target="#editElementModal" data-bs-toggle="modal"
                                class="delete" (click)="saveId(experience.id, experience)">Editar</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editElementModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="experienceEditModalLabel">Editar Experiencia</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form">
                    <label class="form-label">Contenido</label> <br>
                    <input #contentTwo type="text" value="{{experienceToEdit.content}}" [ngClass]="{'is-invalid': Content?.errors && Content?.touched, 'is-valid': !Content?.errors &&
                    Content?.touched}" class="form-control" id="content">
                    <div *ngIf="Content?.errors && Content?.touched">
                        <p *ngIf="Content?.hasError('required')" class="text-danger">
                            El contenido es requerido
                        </p>
                    </div>
                    <label class="form-label">URL Imagen</label> <br>
                    <input #imageTwo type="text" value="{{experienceToEdit.image}}" [ngClass]="{'is-invalid': Image?.errors && Image?.touched, 'is-valid': !Image?.errors &&
                    Image?.touched}" class="form-control" id="image">
                    <div *ngIf="Image?.errors && Image?.touched">
                        <p *ngIf="Image?.hasError('required')" class="text-danger">
                            La URL es requerida
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary"
                            (click)="editExperience(contentTwo.value, imageTwo.value)">Guardar cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>