* {
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
}

h2 {
    font-size: 4rem;
    color: black;
    margin-top: 120px;
    font-weight: bolder;
    letter-spacing: 3px;
    text-decoration: underline;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
        1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.center{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.cardp{
    width: 270px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 500px;
    border-radius: 20px;
    border: solid 3px white;
    box-shadow: 0px 0px 14px 5px rgba(116,29,255,0.75);
    -webkit-box-shadow: 0px 0px 14px 5px rgba(116,29,255,0.75);
    -moz-box-shadow: 0px 0px 14px 5px rgba(116,29,255,0.75);
}

.circlep{
    position: relative;
    height: 200px;
    width: 200px;
    border: 19px solid blue;
    border-radius: 50%;
}

.boxp{
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

span{
    color: white;
    font-size: 38px;
    transform: translate(-50%, -50%);
}

.boxp, span{
    position: absolute;
    top: 50%;
    left: 50%;
}

img{
    width: 200px;
    border-radius: 20px;
}