<div class="containerbackground d-flex justify-content-center">
    <div class="container text-center">
        <h2 id="skills">Skills</h2>
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-md-6 center">
                    <div class="row cardp">
                        <div class="col-12">
                            <img src="../../../assets/images/HTMLLOGO.png" alt="">
                        </div>
                        <div class="col-12">
                            <div class="progresscircle">
                                <div class="percent" style="--crl:rgb(255, 255, 255);--num:95;">
                                    <svg>
                                        <circle cx="75" cy="75" r="82"></circle>
                                        <circle cx="75" cy="75" r="82"></circle>
                                    </svg>
                                    <div class="number">
                                        <h2 class="percentnumber">95%</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 center">
                    <div class="row cardp">
                        <div class="col-12">
                            <img src="../../../assets/images/CSSLOGO.png" alt="">
                        </div>
                        <div class="col-12">
                            <div class="progresscircle">
                                <div class="percent" style="--crl:rgb(255, 255, 255);--num:90;">
                                    <svg>
                                        <circle cx="75" cy="75" r="82"></circle>
                                        <circle cx="75" cy="75" r="82"></circle>
                                    </svg>
                                    <div class="number">
                                        <h2 class="percentnumber">90%</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 center">
                    <div class="row cardp">
                        <div class="col-12">
                            <img src="../../../assets/images/JSLOGO.png" alt="">
                        </div>
                        <div class="col-12">
                            <div class="progresscircle">
                                <div class="percent" style="--crl:rgb(255, 255, 255);--num:70;">
                                    <svg>
                                        <circle cx="75" cy="75" r="82"></circle>
                                        <circle cx="75" cy="75" r="82"></circle>
                                    </svg>
                                    <div class="number">
                                        <h2 class="percentnumber">70%</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 center">
                    <div class="row cardp">
                        <div class="col-12">
                            <img src="../../../assets/images/BootstrapLOGO.png" alt="">
                        </div>
                        <div class="col-12">
                            <div class="progresscircle">
                                <div class="percent" style="--crl:rgb(255, 255, 255);--num:80;">
                                    <svg>
                                        <circle cx="75" cy="75" r="82"></circle>
                                        <circle cx="75" cy="75" r="82"></circle>
                                    </svg>
                                    <div class="number">
                                        <h2 class="percentnumber">80%</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let options = {
        startAngle: -1.55,
        size: 200,
        value: 0.80,
        fill: { color: "red" }
    }
    $(".barp").circleProgress(opstions).on('circle-animation-progress', function (event, progress, stepvalue) {

    });
</script>