
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

::-webkit-scrollbar{
    background-color: black;
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(116, 29, 255);
    border-radius: 10px;
}