<section>
    <div class="containerbackground d-flex justify-content-center">
        <div class="container text-center">
            <h2 id="experiencie">Experience</h2>
            <div class="container">
                <div class="row d-flex align-items-center experienciecontainer" data-aos="fade-up">
                    <div class="col-lg-4">
                        <img class="experiencieimage" src="https://dummyimage.com/600x400/ffffff/545454" alt="">
                    </div>
                    <div class="col-lg-8">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores aliquid voluptatem sit,
                            ipsum nihil quaerat cumque ea maiores autem fuga error ullam dolorum. Quo incidunt sed
                            laudantium? Reprehenderit, magnam assumenda? Lorem, ipsum dolor sit amet consectetur
                            adipisicing elit. Odit laborum consectetur consequatur dolore fugit velit, quidem a
                            blanditiis iste maxime commodi ex itaque eius quos autem aliquid vero suscipit accusamus?
                        </p>
                    </div>
                </div>
                <div class="row d-flex align-items-center experienciecontainer">
                    <div class="col-lg-4">
                        <img class="experiencieimage" src="https://dummyimage.com/600x400/ffffff/545454" alt="">
                    </div>
                    <div class="col-lg-8">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores aliquid voluptatem sit,
                            ipsum nihil quaerat cumque ea maiores autem fuga error ullam dolorum. Quo incidunt sed
                            laudantium? Reprehenderit, magnam assumenda? Lorem, ipsum dolor sit amet consectetur
                            adipisicing elit. Odit laborum consectetur consequatur dolore fugit velit, quidem a
                            blanditiis iste maxime commodi ex itaque eius quos autem aliquid vero suscipit accusamus?
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>